<table class="board winner">
  <tr>
    <td colspan="2">
      <% if @winning_teams.length > 1 %>
        We have a tie!
      <% else %>
        We have a winner!
      <% end %>
    </h1>
  </tr>
  <% @winning_teams.each do |winning_team| %>
  <tr>
    <td>
      <%= winning_team.name %> with $<%= winning_team.points %>
    </td>
    <td>
      "<%= winning_team.quote %>"
    </td>
  </tr>
  <% end %>
</table>

<script type="text/javascript" charset="utf-8">
  $(function () {
    Board.resizeBoard();
  });
</script>