<table id="board" class="questions">
  <thead>
    <tr>
      <% @topics.each_with_index do |topic, index| %>
        <th><%= topic.name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% 5.times do |i| %>
      <tr>
        <% @topics.each do |topic| %>
          <td>
            <div>
              <% question =  topic.question_for_value((i + 1) * 100) %>
              <%= link_to "$#{((i + 1) * 100)}", edit_admin_question_path(question), :id => "question-#{question.id}", :class => "colorbox" %>
              <% if question.daily_double? %>
                (Daily Double)
              <% else %>
                <%= link_to "(Set as Daily Double)", set_as_daily_double_admin_question_path(question) %>
              <% end %>
            </div>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript" charset="utf-8">
  $(function () {
    Board.resizeBoard();
  });
</script>